<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">My Profile</h4>
        <h6 class="card-subtitle">settings..</h6>

        <form
          class="form p-t-20"
          [formGroup]="profileForm"
          (ngSubmit)="updateUser()"
        >
          <div class="form-group">
            <label for="name">User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Username"
                formControlName="name"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter email"
                formControlName="email"
                [readOnly]="user.google"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="text-danger" *ngIf="invalidField('name')"
              >* The name is required</label
            >
            <br />
            <label class="text-danger" *ngIf="invalidField('email')">
              * The email is required and has to be valid</label
            >
          </div>

          <button
            type="submit"
            class="btn btn-success btn-block waves-effect waves-light m-r-10"
          >
            <i class="fa fa-save"></i>
            Save Changes
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">image user</h6>

        <img
          *ngIf="!imgTemp"
          [src]="user.imageUrl"
          alt="image user"
          class="img-avatar"
        />
        <img
          *ngIf="imgTemp"
          [src]="imgTemp"
          alt="image user"
          class="img-avatar"
        />
        <input type="file" (change)="changeImage($event)" name="" id="" />

        <br /><br />

        <button
          type="button"
          class="btn btn-success waves-effect waves-light m-r-10"
          [disabled]="!imageUpload"
          (click)="uploadImage()"
        >
          <i class="fa fa-save"></i>
          Change Image
        </button>
      </div>
    </div>
  </div>
</div>
