<div class="row animated fadeIn fast">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Users</h3>

        <div
          class="alert alert-info animated fadeIn fast"
          *ngIf="users.length === 0"
        >
          <p>There are no users with that term</p>
        </div>

        <div class="table-responsive" *ngIf="users.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users" class="animated fadeIn fast">
                <td>
                  <img [src]="user.img | image: 'users'" class="w50" alt="" />
                </td>
                <td>{{ user.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Hospitals</h3>

        <div
          class="alert alert-info animated fadeIn fast"
          *ngIf="hospitals.length === 0"
        >
          <p>There are no hospitals with that term</p>
        </div>

        <div class="table-responsive" *ngIf="hospitals.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let hospital of hospitals"
                class="animated fadeIn fast"
              >
                <td>
                  <img
                    [src]="hospital.img | image: 'hospitals'"
                    class="w50"
                    alt=""
                  />
                </td>
                <td>{{ hospital.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Doctors</h3>

        <div
          class="alert alert-info animated fadeIn fast"
          *ngIf="doctors.length === 0"
        >
          <p>There are no doctors with that term</p>
        </div>

        <div class="table-responsive" *ngIf="doctors.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doctor of doctors" class="animated fadeIn fast">
                <td>
                  <img
                    [src]="doctor.img | image: 'doctors'"
                    class="w50"
                    alt=""
                  />
                </td>
                <td>
                  <a [routerLink]="['/dashboard/doctor', doctor._id]">{{
                    doctor.name
                  }}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
