<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Search Hospital..."
          (keyup)="search(txtTerm.value)"
          #txtTerm
        />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Loading</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Please wait</p>
    </div>
  </div>
</div>

<div class="row" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Hospitals {{ hospitals.length }}</h4>
            <h6 class="card-subtitle">
              Hospitals registered in the application
            </h6>
          </div>
          <div class="col">
            <div class="text-right">
              <button
                (click)="openModalCreateHospital()"
                class="btn btn-primary"
              >
                <i class="fa fa-hospital-o"></i> Create Hospital
              </button>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100 text-center">Photo</th>
                <th>Name</th>
                <th class="text-nowrap w100 text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitals">
                <td class="text-center">
                  <img
                    class="avatar cursor"
                    [src]="hospital.img | image: 'hospitals'"
                    [alt]="hospital.name"
                    (click)="openModal(hospital)"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name Hospital"
                    [(ngModel)]="hospital.name"
                  />
                </td>

                <td class="text-nowrap text-center">
                  <a
                    (click)="updateHospital(hospital)"
                    class="cursor"
                    data-toggle="tooltip"
                    data-original-title="Save change"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a
                    (click)="deleteHospital(hospital)"
                    class="cursor"
                    data-toggle="tooltip"
                    data-original-title="Delete"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
