/* You can add global styles to this file, and also import other style files */

#themecolors .selector {
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}

#google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
